.searchform-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 16px;
}

.searchform-header-wrapper {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  color: #000;
}

.searchform-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  width: 100%;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

@media (min-width: 768px) {
  .dropdown-container {
    flex-direction: row;
  }
}

.dropdown-wrapper {
  flex: 1;
}

select {
  padding: 8px 16px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  line-height: 26px;
  color: #333;
  background-color: #fff;
}

select option {
  padding: 5px;
  font-size: 14px;
  line-height: 26px;
}

.action-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media (min-width: 768px) {
  .action-button-container {
    flex-direction: row;
  }
}

.search-button,
.clear-button {
  appearance: none;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
}

.search-button {
  background-color: #2ea44f;
  color: #fff;
}

.clear-button {
  background-color: #fafbfc;
  color: #24292e;
}

@media (min-width: 1024px) {
  .searchform-container {
    padding: 32px;
  }

  .searchform-header-wrapper {
    font-size: 32px;
    line-height: 48px;
  }
}
